body {
  font-family:  sans-serif;
}
h1,h2 {
  color: gray;
}
h1 {
  border-bottom: 1px solid black;
}
p {
 color: maroon;
}
em{
  font-family: serif;
}
p.greentea {
  color: green;
}
p.raspberry {
  color: blue;
}
p.blueberry{
  color: purple;
}