#guarantee {
  line-height: 1.9em;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #444444;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  border-radius: 30px;
  background-color: #a7cece;
  padding: 25px;
  padding-left: 80px;
  margin: 30px;
  margin-right: 250px;
  background-image: url(images/background.gif);
  background-repeat: no-repeat;
  background-position: top left;
}